<main>
  <header class="text-center py-2 my-2">
    <h1 class="display-3 fw-bold">
    Log in
    </h1>
  </header>
  <%= form_with(scope: :session, url: login_path , data: { turbo: false }, class: "text-center" ) do |form| %>
    <fieldset>
      <legend class="mb-4">
        <h1 class="display-5">
          Enter user credentials
        </h1>
      </legend>
      <div class="mx-auto w-25 form-floating my-3">
        <%= form.text_field :login, class: "form-control form-control-lg", placeholder: "example" %>
        <%= form.label :login, class: "form-label" %>
      </div>
      <div class="mx-auto w-25 form-floating my-3">
        <%= form.password_field :password, class: "form-control form-control-lg", placeholder: "example" %>
        <%= form.label :password, class: "form-label" %>
      </div>
    </fieldset>
    <%= form.submit "Log in", class: "btn btn-primary my-4"%>
  <% end %>
</main>
<nav class="px-4 py-2 my-4 text-center">
  <%= link_to "Back to article list", articles_path, class:"btn btn-outline-primary" %>
</nav>
