<main>
  <section class="text-center position-relative" style="height: 400px; background: center no-repeat url(https://source.unsplash.com/random/?article,text);" >
    <h1 class="shadow-sm p-3 mb-5 bg-body rounded py-3 px-5 display-5 fw-bold position-absolute top-50 start-50 translate-middle">
    Articles
      <p class="lead position-relative">
        Feel free to check our articles
      </p>
    </h1>
  </section>

  <div class="w-75 mx-auto" style="max-width: 500px; border: .1px black solid; opacity: 15% "></div>

  <% if @articles.empty? %>
    <div style="min-height: 150px; display: flex; justify-content: center; align-items: center;">
      <h3 class="lead opacity-50 my-4 text-center">There are no articles. Would you like to add one?</h3>
    </div>
  <% end %>

  <section class="my-2 text-center">
    <dl>
      <% @articles.reverse_each do |a| %>
        <article class="card px-2 py-2 my-5" style="max-width: 70%; margin: 0 auto;">

          <section class="card-header">
            <h2 class="card-title">
              <%= a.title.truncate(52) %>
            </h2>
            <h3 class="card-subtitle opacity-50 text-black-50">
              by: <%= link_to "#{a.user.username}", user_path(a.user) %>
            </h3>
          </section>

          <section class="card-body w-75 mx-auto">
            <p class="card-text">
              <%= a.content.truncate(352) %>
            </p>
          </section>

          <section class="card-footer py-2 my-2">
            <%= link_to "Show", article_path(a), class:"btn btn-outline-primary" %>
            <% if logged_in? && (current_user == a.user || current_user.admin?)  %>
              <%= link_to "Edit", edit_article_path(a), class:"btn btn-outline-success" %>
              <%= link_to "Delete", article_path(a), class:"btn btn-outline-danger", data: { "turbo-method": :delete, "turbo-confirm": "Are you sure?" } %>
            <% end %>
          </section>

          <section class="card-footer py-2 my-2">
            <%= distance_of_time_in_words_to_now(a.created_at) %> ago
          </section>

        </article>

        <div class="w-25 mx-auto" style="max-width: 500px; border: .1px black solid; opacity: 15% "></div>

      <% end %>
    </dl>
  </section>

</main>
<nav class="px-4 py-2 my-4 text-center">
  <%= link_to "Create new article", new_article_path, class: "btn btn-outline-primary" %>
</nav>


