<main class="text-center">
  <header class="text-center py-2 my-2">
    <h1 class="display-5 fw-bold">
    New article
    </h1>
  </header>
  <%= render 'shared/errors', obj: @article %>
  <%= form_with(scope: :article, url: articles_path, data: { turbo: false }) do |form| %>
    <%= render partial: 'form', locals: { form: form } %>
    <br>
    <%= form.submit "Create article", class: "btn btn-primary my-0" %>
    <%= link_to "Cancel and back to article list", root_path, class: "btn btn-danger" %>
  <% end %>
</main>
<br>
