<%= render 'shared/nav' %>
<main class="text-center">
  <h1 class="my-4" >
    <%= "#{@user.username}'s profile" %>
  </h1>
  <%= random_avatar_for_user @user %>
  <%= link_to "Edit profile", edit_user_path(@user),  class: "btn btn-primary my-4" %>
  <h2 class="my-4">
    <%= "#{@user.username}'s articles:" %>
  </h2>
    <dl>
      <% @user.articles.each do |a| %>
        <article>
          <dt>
            <h2>
              <%= a.title %>
            </h2>
          </dt>
          <dd>
            <i>
              <%= a.content %>
            </i>
            <section class="py-2 my-2">
              <ul class="px-0 mx-0">
                  <%= link_to "Show", article_path(a) %> |
                  <%= link_to "Edit", edit_article_path(a) %> |
                  <%= link_to "Delete", article_path(a), data: { "turbo-method": :delete, "turbo-confirm": "Are you sure?" } %>
              </ul>
            </section>
          </dd>
        </article>
      <% end %>
    </dl>
</main>
<nav class="px-4 py-2 my-4 text-center">
  <%= link_to "Back to articles list", root_path %>
</nav>
