<nav class="p-3 bg-dark text-white">
  <section class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <h2>
        <%= link_to "ALL ABOUT NOTHING BLOG", root_path, class: "h1 px-2 lead text-white", style: "text-decoration: none; "%>
      </h2>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <div style="width: 50px"></div>
        <%= link_to "Articles", articles_path, class: "nav-link px-2 text-white" %>
        <%= link_to "Users", users_path, class: "nav-link px-2 text-white" %>
        <div style="width: 50px"></div>
        <% if !logged_in? %>
          <%= link_to "Sign up", signup_path, class: "nav-link px-2 text-primary" %>
        <% else %>
          <%= link_to "Create new article", new_article_path, class: "nav-link px-2 text-primary" %>
        <% end %>
      </ul>
      <% if logged_in? %>
        <%= link_to current_user.admin? ? "(!A) #{current_user.username}" : current_user.username, user_path(current_user), class: "nav-link px-4 mx-2 lead text-warning" %>
        <%= link_to "Logout", login_path, data: { "turbo-method": :delete }, class: "btn btn-outline-warning" %>
      <% else %>
        <%= link_to "Log in", login_path, class: "btn btn-outline-warning" %>
      <% end %>
    </div>
  </section>
</nav>
