<!DOCTYPE html>
<html>
  <head>
    <title>BlogArticles</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <%= render 'shared/nav' %>
    <% flash.each do |name, msg| %>
      <div class="<%= "position-absolute m-2 sticky-bottom bottom-0 end-0 alert alert-#{name} alert-dismissible fade show" %>" role="alert" >
        <strong>
          <%= msg %>
        </strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
